div.list-group {
  max-width: 500px;
  margin: auto;
  display: block;
}

div.list-group-item {
  max-width: 500px;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

li.list-group-item {
  cursor: default !important;
}
