@media all and (min-width: 480px) {
  .CreateTeam {
    padding: 60px 0;
  }
  .InviteMembers {
    padding: 60px 0;
  }
}

div.list-group {
  max-width: 500px;
  margin: auto;
  display: block;
}

div.list-group-item {
  max-width: 500px;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
