body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin: 0 auto;
  max-width: 320px;
}

textarea.wide-form {
  margin: 0 auto;
  max-width: 500px !important;
}

div.card {
  margin: 0 auto;
  max-width: 320px;
  padding: 10px;
}

div.PivotNavbar {
  margin-bottom: 1em;
}

button {
  margin-bottom: 10px !important;
  max-width: 320px;
}

button.btn-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

option {
  background-color: #303030;
  color: #DDD;
}

input {
  background-color: #303030 !important;
  color: #DDD !important;
  max-width: 320px;
  border-color: #888 !important;
}

select {
  background-color: #303030 !important;
  color: #DDD !important;
  max-width: 320px;
  border-color: #888 !important;
}

label.form-label {
  color: #DDD !important;
}

div.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.task-cards {
  margin-top: 20px;
  margin-bottom: 20px;
}

p.unpadded {
  margin: 0px !important;
}
